target
*.log
**/log
**/*.index

*.class

*.aux
*.dvi
*.out

*.db4o

.settings

*.dat
*.ctrl
*.lck
*.iml
dependency-reduced-pom.xml
.project
.idea
out
**/logs
*.db
Java/active/intellij-launcher-helper

intellij-launcher-helper
xmind-launcher-helper
